name: Deploy To EC2

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.SUBMODULE_TOKEN }}

      - name: JDK 21 설치
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: 테스트 및 빌드하기
        run: ./gradlew clean build

      - name: 도커 허브에 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Docker 이미지 빌드 및 Push
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/solta-server:latest .
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/solta-server:latest

  deploy:
    runs-on: ubuntu-22.04-arm
    needs: build
    steps:
      - name: SSH로 EC2에 접속하여 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/solta-server:latest
            docker stop solta-server || true
            docker rm solta-server || true
            docker run -d --name solta-server -p 8080:8080 -e SPRING_PROFILES_ACTIVE=prod ${{ secrets.DOCKER_HUB_USERNAME }}/solta-server:latest
            docker image prune -f